body {
  font-family: "Poppins", sans-serif;
  background: #181525;
}

header {
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.2),
      rgba(40, 40, 40, 0.4)
    ),
    url("../images/manzanilla-beach.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 260px;
}

header h1 {
  font-size: 96px;
  line-height: 1.1;
  font-weight: 700;
  margin: 0 0 20px 0;
}

header h2 {
  font-size: 40px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 30px 60px 0;
}

header h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 900;
  letter-spacing: 5px;
  margin: 0 0 30px 0;
}

header a {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 3px;
  background: white;
  text-decoration: none;
  padding: 16px 32px;
  color: #272044;
  text-transform: uppercase;
  border-radius: 3px;
}

main {
  background: white;
}

section {
  margin: 0 auto;
  padding: 100px;
  color: #272044;
}

section h2 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1.4;
  margin: 0;
  opacity: 0.4;
  text-transform: uppercase;
}

section h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  margin: 0;
}

section h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

section h5 {
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  opacity: 0.7;
}

section.secondary {
  background: #f8f8f8;
}

footer {
  margin-top: 20px;
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url("../images/River-Falls-Trinidad.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}

footer p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  padding: 0;
}

footer a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}

footer a:hover {
  color: grey;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.img-responsive {
  width: 100%;
  display: block;
  aspect-ratio: 12/11;
}

.img-responsive:hover {
  scale: 1.2;
}

.grid {
  display: grid;
  grid-gap: 40px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns-first-narrow {
  color: white;
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-equal-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.history-link {
  text-decoration: none;
  opacity: 0.4;
}

.history-link:hover {
  opacity: 0.9;
}

.text-center {
  text-align: center;
}

.embed {
  width: 100%;
  aspect-ratio: 12/11;
}

.embed:hover {
  scale: 1.2;
}

.card {
  background: white;
  margin: 10px 0;
}

.card-header.grid {
  grid-gap: 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 30px;
}

.btn {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  text-align: center;
  color: white;
  background: #462cb2;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
    margin: 0 0 10px 0;
  }
  header h2 {
    font-size: 20px;
    margin: 0 15px 30px 0;
  }
  header h3 {
    font-size: 12px;
  }
  section {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
}
