body {
  font-family: "Poppins", sans-serif;
  background: #1b162f;
}

header {
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.2),
      rgba(40, 40, 40, 0.4)
    ),
    url("../images/manzanilla-beach.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 260px;
}

header h1 {
  font-size: 96px;
  line-height: 1.1;
  font-weight: 700;
  margin: 0 0 20px 0;
}

header h2 {
  font-size: 40px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 30px 60px 0;
}

header h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 900;
  letter-spacing: 5px;
  margin: 0 0 30px 0;
}

header a {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 3px;
  background: white;
  text-decoration: none;
  padding: 16px 32px;
  color: #272044;
  text-transform: uppercase;
  border-radius: 3px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  margin-top: 20px;
  padding: 100px 0;
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/scarlet-ibis.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}

footer p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  padding: 0;
}

footer a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}

footer a:hover {
  color: grey;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 10px;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
    margin: 0 0 10px 0;
  }
  header h2 {
    font-size: 20px;
    margin: 0 15px 30px 0;
  }
  header h3 {
    font-size: 12px;
  }
}
